<?xml version="1.0"?>
<data>
	<nodeMenu>
		<mainBtn>
			<nodeName>mainButton</nodeName>
			<initialDiameter>100</initialDiameter>
			<finalDiameter>200</finalDiameter>
			<borderThickness>1</borderThickness>
			<borderAlpha>1</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>1</fillAlpha>
			<initialAlpha>1</initialAlpha>
			<finalAlpha>.5</finalAlpha>
			<fillColor>0x990033</fillColor>
			<nodeContent>main</nodeContent>
			<contentIsImage>false</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</mainBtn>
		<nodeButtons>
			<initialDiameter>70</initialDiameter>
			<finalDiameter>160</finalDiameter>
			<nodeOffset>200</nodeOffset>
			<angleOffset>0</angleOffset>
			<openEffect>1</openEffect>
			<closeEffect>2</closeEffect>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
			<nodeButton>
				<nodeName>button1</nodeName>
				<borderThickness>3</borderThickness>
				<borderAlpha>1</borderAlpha>
				<borderColor>0x000000</borderColor>
				<fillAlpha>1</fillAlpha>
				<initialAlpha>.7</initialAlpha>
				<finalAlpha>1</finalAlpha>
				<fillColor>0xDDDDDD</fillColor>
				<nodeContent>node</nodeContent>
				<contentIsImage>false</contentIsImage>
				<nodeContentSize>18</nodeContentSize>
				<nodeContentFont>Arial</nodeContentFont>
				<nodeContentColor>0x000000</nodeContentColor>
				<nodeContentAlign>center</nodeContentAlign>
				<nodeContentAlpha>1</nodeContentAlpha>
			</nodeButton>
		</nodeButtons>
	</nodeMenu>
</data>