<?xml version="1.0"?>
<data>
	<mainBtn>
		<nodeName>mainButton</nodeName>
		<initialDiameter>100</initialDiameter>
		<finalDiameter>200</finalDiameter>
		<borderThickness>3</borderThickness>
		<borderAlpha>.5</borderAlpha>
		<borderColor>0x000000</borderColor>
		<fillAlpha>0</fillAlpha>
		<initialAlpha>.6</initialAlpha>
		<finalAlpha>1</finalAlpha>
		<fillColor>0xff2a00</fillColor>
		<nodeContent>images/gamblers2.jpg</nodeContent>
		<contentIsImage>true</contentIsImage>
		<nodeContentSize>12</nodeContentSize>
		<nodeContentFont>Arial</nodeContentFont>
		<nodeContentColor>0x000000</nodeContentColor>
		<nodeContentAlign>center</nodeContentAlign>
		<nodeContentAlpha>1</nodeContentAlpha>
	</mainBtn>
	<nodeButtons>
		<initialDiameter>100</initialDiameter>
		<finalDiameter>300</finalDiameter>
		<nodeOffset>160</nodeOffset>
		<nodeButton>
			<nodeName>button1</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/guitar.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
		<nodeButton>
			<nodeName>button2</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/mandolin.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
		<nodeButton>
			<nodeName>button3</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/fiddle.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
		<nodeButton>
			<nodeName>button4</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/bass.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
		<nodeButton>
			<nodeName>button5</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/harmonica.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
		<nodeButton>
			<nodeName>button6</nodeName>
			<borderThickness>5</borderThickness>
			<borderAlpha>.5</borderAlpha>
			<borderColor>0x000000</borderColor>
			<fillAlpha>.5</fillAlpha>
			<initialAlpha>.7</initialAlpha>
			<finalAlpha>1</finalAlpha>
			<fillColor>0xFFEDE1</fillColor>
			<nodeContent>images/banjo.png</nodeContent>
			<contentIsImage>true</contentIsImage>
			<nodeContentSize>12</nodeContentSize>
			<nodeContentFont>Arial</nodeContentFont>
			<nodeContentColor>0x000000</nodeContentColor>
			<nodeContentAlign>center</nodeContentAlign>
			<nodeContentAlpha>1</nodeContentAlpha>
		</nodeButton>
	</nodeButtons>
</data>